<nav class="menu" aria-label="Primary navigation">
  <ul>
    <li>
      <a
        class="shadow-standard"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        class="shadow-standard"
        routerLink="/mods"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Mods</a
      >
    </li>
    <li>
      <a
        class="shadow-standard"
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
  </ul>
</nav>
