<nav class="menu d-flex flex-column">
  <ul class="d-flex flex-row">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/mods"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Mods</a
      >
    </li>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About</a
      >
    </li>
  </ul>
</nav>
