.container {
  display: flex;
  flex-direction: column;
}

.container svg {
  width: 100%;
  height: 120px;
}

.container svg > * {
  transition: fill 1s ease-out;
}

.container .highlight-picker {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.container .color-pick {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container svg .name {
    font-size: 36px;
  }

  .container svg .binary {
    font-size: 14px;
  }
}