<div class="container">
  <svg>
    <polygon
      id="background-front"
      [attr.fill]="colorService.getCurrentColor()"
      points="1920 80 1580 80 1558.617 100 1013 100 1011 104 1007 96 1005.2553 100 921 100 907 90 892 110 881.0413 100 331.445 100 325 94 318.617 100 152 100 119 120 68 84 47 84 31 100 0 100 0 0 1920 0 1920 80"
    />
    <rect [attr.fill]="colorService.getCurrentColor()" x="0" y="0" width="100%" height="80" />
    <text x="1230" y="95">01110000 01001101 01100001 01110010 01001011</text>
    <polygon class="background" points="325 94 331 87 319.383 87 325 94" />
    <rect class="background" x="335" y="87" width="10" height="2" />
    <rect class="background" x="348" y="87" width="2" height="2" />
    <rect class="background" x="353" y="87" width="2" height="2" />
    <rect class="background" x="358" y="87" width="5" height="2" />
    <rect [attr.fill]="colorService.getCurrentColor()" x="155" y="102" width="10" height="2" />
    <rect [attr.fill]="colorService.getCurrentColor()" x="168" y="102" width="2" height="2" />
    <rect [attr.fill]="colorService.getCurrentColor()" x="173" y="102" width="2" height="2" />
    <rect [attr.fill]="colorService.getCurrentColor()" x="178" y="102" width="5" height="2" />
  </svg>
  <div class="highlight-picker">
    <div *ngFor="let color of colorService.getColors(); index as i">
      <div class="color-pick" [style.background-color]="color" (click)="colorService.setCurrentColorIndex(i)"></div>
    </div>
  </div>
</div>
