<div id="footer-wrapper">
    <div id="footer-content">
        <span>Built with Angular 13.x</span>
        <mat-icon aria-hidden="false" aria-label="code icon" class="separator">code</mat-icon>
        <a mat-button
            href="https://github.com/p-marques/pmark.pt"
            target="_blank"
            matTooltip="Repo of this website"
            matTooltipPosition="above">
            <span style="margin-right: 2px;">github.com/p-marques/pmark.pt</span>
            <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
</div>