<div class="wrapper">
  <div class="content-wrapper">
    <div class="bit pad20 intro">
      <span class="section-title">Mods</span>
      <p>The mods I cared to share online are listed below. Some are not really mods, but rather modding utilities.<br>
        Credit for the images below belong to CD Projekt RED.
        Info is being retrieved from the Nexus Mods Public API.
      </p>
    </div>
    <div class="bit">
      <div class="game-header material-shadow" style="background-image: url(/assets/media/witcher3-background.jpg)">
        <div class="game-header-overlay">
          <img src="/assets/media/witcher3-logo.svg">
        </div>
      </div>
      <div class="mods-section-wrapper">
        <mat-progress-bar *ngIf="isWorking; else doneW3" mode="indeterminate" color="warn" class="material-shadow"></mat-progress-bar>
        <ng-template #doneW3>
          <div class="mod-container">
            <div *ngFor="let mod of modsWitcher3" class="mod-wrapper material-shadow">
              <div class="mod-header" [style.background-image]="'url(' + mod.picture_url + ')'">
                <div class="mod-overlay"></div>
              </div>
              <div class="mod-info">
                <div class="mod-info-bit">
                  <span class="section-title">Name</span>
                  <span>{{mod.name}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Description</span>
                  <span>{{mod.summary}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Id</span>
                  <span>{{mod.mod_id}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Version</span>
                  <span>{{mod.version}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Endorsements</span>
                  <span>{{mod.endorsement_count}}</span>
                </div>
                <div class="mod-info-bit">
                  <a mat-flat-button color="warn" href="https://www.nexusmods.com/{{mod.domain_name}}/mods/{{mod.mod_id}}" target="_blank">
                    <span>nexusmods.com</span>
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="bit">
      <div class="game-header" style="background-image: url(/assets/media/cyberpunk2077-background.jpg)">
        <div class="game-header-overlay">
          <img src="/assets/media/cyberpunk2077-logo.svg">
        </div>
      </div>
      <div class="mods-section-wrapper">
        <mat-progress-bar *ngIf="isWorking; else doneC7" mode="indeterminate" color="warn" class="material-shadow"></mat-progress-bar>
        <ng-template #doneC7>
          <div class="mod-container">
            <div *ngFor="let mod of modsCyberpunk2077" class="mod-wrapper material-shadow">
              <div class="mod-header" [style.background-image]="'url(' + mod.picture_url + ')'">
                <div class="mod-overlay"></div>
              </div>
              <div class="mod-info">
                <div class="mod-info-bit">
                  <span class="section-title">Name</span>
                  <span>{{mod.name}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Description</span>
                  <span>{{mod.summary}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Id</span>
                  <span>{{mod.mod_id}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Version</span>
                  <span>{{mod.version}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Endorsements</span>
                  <span>{{mod.endorsement_count}}</span>
                </div>
                <div class="mod-info-bit">
                  <a mat-flat-button color="warn" href="https://www.nexusmods.com/{{mod.domain_name}}/mods/{{mod.mod_id}}" target="_blank">
                    <span>nexusmods.com</span>
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="bit">
      <div class="game-header" style="background-image: url(/assets/media/witcher2-background.jpg)">
        <div class="game-header-overlay">
          <img src="/assets/media/witcher2-logo.png">
        </div>
      </div>
      <div class="mods-section-wrapper">
        <mat-progress-bar *ngIf="isWorking; else doneW2" mode="indeterminate" color="warn" class="material-shadow"></mat-progress-bar>
        <ng-template #doneW2>
          <div class="mod-container">
            <div *ngFor="let mod of modsWitcher2" class="mod-wrapper material-shadow">
              <div class="mod-header" [style.background-image]="'url(' + mod.picture_url + ')'">
                <div class="mod-overlay"></div>
              </div>
              <div class="mod-info">
                <div class="mod-info-bit">
                  <span class="section-title">Name</span>
                  <span>{{mod.name}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Description</span>
                  <span>{{mod.summary}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Id</span>
                  <span>{{mod.mod_id}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Version</span>
                  <span>{{mod.version}}</span>
                </div>
                <div class="mod-info-bit">
                  <span class="section-title">Endorsements</span>
                  <span>{{mod.endorsement_count}}</span>
                </div>
                <div class="mod-info-bit">
                  <a mat-flat-button color="warn" href="https://www.nexusmods.com/{{mod.domain_name}}/mods/{{mod.mod_id}}" target="_blank">
                    <span>nexusmods.com</span>
                    <mat-icon>open_in_new</mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>