<div class="wrapper">
    <div class="about-content-wrapper">
        <div class="header"></div>
        <img class="photo" src="assets/photo.jfif"/>
        <div class="about-content">
            <span class="title">Who?</span>
            <p>
                My name is Pedro Dias Marques (pMarK online) and I'm a programmer from Portugal.<br>
                I've been a PC geek since I can remember and working in the video game industry is my dream.
            </p>
            <span class="title">Programming</span>
            <p>
                I'm a self-taught programmer, refined by University, obsessed with improvement. 
                I'm definitely a stickler for code standards and consistency. If something can be done better I have to do it.
                Admittedly this sometimes can be problematic since it can lead to some time-consuming refactoring, however I 
                already feel like experience is improving this significantly.
            </p>
            <p>
                The first language I ever did anything with was HTML since I was fascinated with gaming websites and I actually wanted to
                create one when I was about 14. Also learned some CSS and JavaScript however nothing really came of it. I was just messing
                around on my own. My formal education before University included plenty of math, physics, biology and even philosophy but no CS stuff.
            </p>
            <p>
                I started to get into .NET and C# around 10 years ago. Initially I had a very practical approach. Whenever I wanted to do something I would
                just use the documentation and I also started to build a nice collection of physical books, from O'Reilly reference books to design patterns
                stuff. Whenever these books referenced something I didn't know I would just go learn it.
            </p>
            <p>
                Then my obsession with ASP.NET began. I was particularly interested in Web APIs. 
                I also got into AngularJS. I improved significantly on JavaScript, HTML and CSS.
                Even though you could use TypeScript with AngularJS, most of the documentation was in JS so I never switched.
                Shortly after Angular (v2.0) was released and that's when I went all in on TypeScript. For any C# programmer,
                TypeScript is immediately familiar and an easy language to like. Transpiling FTW.
            </p>
            <span class="title">Gaming</span>
            <p>
                I've been gaming since I can remember but only really fell in love with it as a medium at 14. It was about this
                time I realized that they could be more than just mindless entertainment.
            </p>
    </div>
</div>