<div class="wrapper">
    <div class="about-content-wrapper material-shadow">
        <div class="header"></div>
        <img class="photo" src="assets/media/photo.jpg"/>
        <div class="about-content">
            <span class="title">Who?</span>
            <p>
                My name is Pedro Dias Marques (pMarK online) and I'm a programmer from Portugal.<br>
                I've been a PC geek since I can remember and working in the video game industry is my dream.
            </p>
            <span class="title">Why?</span>
            <p>
                I don't really need a good reason to build a website. I like doing it. Also considering the pace of development of
                Angular, it's generally a good idea to create an excuse to catch up with the changes.
            </p>
            <p>
                This is my personal website, and as such, here I get to talk about the things that interest me. I don't use social media apps, or even have an account with them,
                apart from Reddit, so I suppose this is my outlet. It also serves the practical purpose of self-promotion, since I'm currently seeking a new professional
                challenge.
            </p>
            <span class="title">Programming</span>
            <p>
                I'm a self-taught programmer, refined by University, obsessed with improvement. 
                I'm definitely a stickler for code standards and consistency. If something can be done better I have to do it.
                Admittedly this sometimes can be problematic since it can lead to some time-consuming refactoring, however I 
                already feel like experience is improving this significantly.
            </p>
            <p>
                The first language I ever did anything with was HTML since I was fascinated with gaming websites and I actually wanted to
                create one when I was about 14. Also learned some CSS and JavaScript however nothing really came of it. I was just messing
                around on my own. My formal education before University included plenty of math, physics, biology and even philosophy but no CS stuff.
            </p>
            <p>
                I started to get into .NET and C# around 10 years ago. Initially I had a very practical approach. Whenever I wanted to do something I would
                just use the documentation and I also started to build a nice collection of physical books, from O'Reilly reference books to design patterns
                stuff. Whenever these books referenced something I didn't know I would just go learn it.
            </p>
            <p>
                Then my obsession with ASP.NET began. I was particularly interested in Web APIs. 
                I also got into AngularJS. I improved significantly on JavaScript, HTML and CSS.
                Even though you could use TypeScript with AngularJS, most of the documentation was in JS so I never switched.
                Shortly after, Angular (v2.0) was released and that's when I went all in on TypeScript. For any C# programmer,
                TypeScript is immediately familiar and an easy language to like. Transpiling FTW.
            </p>
            <p>
                Then I joined Uni full time to really get into game development. Unity was the only engine we used. This experience was mostly worth it,
                I feel like I grew quite a bit as a programmer in the first year. However I then started to feel stagnated. This is not really the fault of the
                University since the course is designed to be approachable by newbies and also they have a Indie bias so there's quite a bit of time spent on subjects
                that only really apply if you work on a tiny studio, where you are expected to fill wildly varied roles. Many of those roles I'm not really interested in.
                I am a programmer, that's what I want to do all day, everyday. It became clear that the only way to improve further was through professional experience. 
                This is why I'm currently job hunting.
            </p>
            <p>
                I also learned Python along the way, a language that I like quite a bit for its practicality. I'm also fully familiar with C++ syntax but I lack experience.
            </p>
            <p>
                I'm proud of the the things I've done so far but I can confidently say that my most valuable asset is not what I know at any given time but rather how easily 
                I've always learned whatever I needed. I'm never satisfied with what I know but rather start feeling restless if I feel like I haven't been improving as a programmer.
            </p>
            <span class="title">Gaming</span>
            <p>
                I've been gaming since I can remember but only really fell in love with it as a medium at 14. It was about this
                time I realized that they could be more than just mindless entertainment.
            </p>
            <p>
                My favorite genre is RPGs which explains why my favorite studios are CD Projekt RED and Bioware. 
                The Witcher 3 and Dragon Age: Origins are true masterpieces that hold a special place in my heart.
            </p>
            <p>
                As a PC gamer I grew up playing quite a few FPS games as well. My favorite ones of recent times are Overwatch and Rainbow Six Siege, 
                two games I consider to be extremely well designed.
            </p>
            <span class="title">Modding</span>
            <p>
                I've always dabbled in modding. Through the years I created quite a few mods for various different games, sometimes simply because I was interested in how the game
                supported them. The only ones I cared enough to share are for CDPR games. You can find out all about them in <a class="yellow" routerLink="/mods">/mods</a>.
            </p>
    </div>
</div>