:host {
  flex: 1;
  display: flex;
}

article {
  font-size: 2rem;
  gap: 2rem;
}

a {
  text-decoration: underline;
}

@media only screen and (max-width: 599.98px) {
  article {
    font-size: 1rem;
  }
}