<p>Updated July 18, 2026</p>
<article class="d-flex flex-column">
  <div class="d-flex flex-column">
    <h2>Hardware</h2>
    <ul>
      <li><b>Working PC:</b> Dell Precision 5690</li>
      <li>
        <b>Personal PC:</b>
        <ul>
          <li>
            CPU: AMD Ryzen 7 9800X3D
            <ul>
              <li>Cooler: Noctua NL-LC1-36</li>
            </ul>
          </li>
          <li>Motherboard: MSI MPG X870E Carbon</li>
          <li>Memory: G.SKILL Flare X5 32GB</li>
          <li>Storage: 2x WD Black SN850X 2TB</li>
          <li>GPU: MSI GeForce RTX 5090 Gaming Trio OC</li>
          <li>PSU: MSI MAG A1250GL</li>
          <li>Case: Fractal Design North XL</li>
        </ul>
      </li>
      <li>
        Monitors:
        <ul>
          <li>LG 32GS95UE-B OLED Dual-Mode 32" 4K</li>
          <li>LG 32GP850-B Nano IPS 32" 1440p</li>
          <li>Acer XB270HU 27" 1440p</li>
        </ul>
      </li>
      <li>Keyboard: Logitech G915 Lightspeed</li>
      <li>Headphones: Steelseries Arctis Nova Pro Wireless</li>
    </ul>
  </div>
  <div class="d-flex flex-column">
    <h2>This website</h2>
    <p>Angular 22, &#64;tanstack/angular-query-experimental and Azure Functions.</p>
    <p>
      Repo can be found
      <a target="_blank" href="https://github.com/p-marques/pmark.pt">here</a>.
    </p>
  </div>
</article>
