:host {
  height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
  width: 100%;
}

main {
  padding: 3rem;
  height: 100%;
}

.content-wrapper {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-color: var(--background-primary-darker);
  border-radius: var(--border-radius-base);
}

@media only screen and (max-width: 1000px) {
  main,
  .content-wrapper {
    padding: 1rem;
  }
}
