
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$pmark-primary-palette : (
  main: #323232,
  lighter: #424242,
  darker: #212121,
  text: white,
  contrast: (
    main: rgba(white, 0.87),
    lighter: rgba(white, 0.87),
    darker: rgba(white, 0.87)
  )
);

$pmark-accent-palette : (
  main: #EEE,
  lighter: #FFF,
  darker: #CCC,
  text: #212121,
  contrast: (
    main: rgba(#212121, 0.87),
    lighter: rgba(#212121, 0.87),
    darker: rgba(#212121, 0.87)
  )
);

$pmark-primary: mat.define-palette($pmark-primary-palette, main, lighter, darker);
$pmark-accent: mat.define-palette($pmark-accent-palette, main, lighter, darker);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pmark-theme: mat.define-dark-theme((
  color: (
    primary: $pmark-primary,
    accent: $pmark-accent
  )
));

body {
  background: mat.get-color-from-palette($pmark-primary, main);
  color: mat.get-color-from-palette($pmark-accent, main);
}

#main-toolbar {
  background-color: mat.get-color-from-palette($pmark-primary, darker);
}

#main-toolbar mat-toolbar-row.links {
  border-bottom: 1px solid mat.get-color-from-palette($pmark-primary, main);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pmark-theme);

