html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-typography {
  line-height: normal;
}

a {
  text-decoration: none;
}

button:hover,
a.mdc-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pmark-snack {
  background-color: #fff;
  color: #212121;
}
