html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
}

mat-icon.separator {
  margin: 0 5px;
}

.mat-tooltip {
  background-color: #e6e040;
  color: #212121 !important;
  text-align: center;
  white-space: pre-line;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}