<div class="w-100 d-flex flex-column justify-content-center">
  <div
    class="intro-content w-100 d-flex justify-content-center align-items-center"
  >
    <img
      class="photo"
      alt="Pedro Dias Marques photo"
      src="assets/media/photo.jpg"
    />
    <h1>Pedro Dias Marques</h1>
  </div>
  <article class="current-tech d-flex flex-column align-items-end">
    <div class="q-a d-flex flex-column">
      <p>What am I working on?</p>
      <p>I’m currently working on projects for Universal Music Group through Expleo Group.</p>
    </div>
    <div class="q-a d-flex flex-column">
      <p>What's my current tech stack?</p>
      <p>.Net 10 and React 19</p>
    </div>
    <div class="q-a d-flex flex-column">
      <p>What am I learning?</p>
      <p>Real-time rendering and C++</p>
    </div>
    <div class="q-a d-flex flex-column">
      <p>Where am I?</p>
      <p>Lisbon, Portugal</p>
    </div>
    <div class="q-a d-flex flex-column align-items-end">
      <p>Contact?</p>
      <a href="https://www.linkedin.com/in/pedrodm/" target="_blank">
        <linkedin-logo />
      </a>
    </div>
  </article>
</div>
