.home-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.status-container {
    background-color: #212121;
    width: 30%;
    box-sizing: border-box;
}

.status-content, .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.status-content {
    width: 100%;
    align-items: stretch;
}

.status-header {
    background-color: #EEE;
    color: #212121;
    padding: 10px;
    display: flex;
    align-items: center;
}

.status {
    padding: 10px;
    width: 100%;
}

.status p {
    margin: 0;
    padding-left: 10px;
}

@media only screen and (max-width: 1000px) {
    .status-container {
        width: 100%;
    }
}
