<div class="home-wrapper">
  <div class="intro">
    <div>Hi, I'm</div>
    <div>
      <div class="name" [style.color]="colorService.getCurrentColor()">
        Pedro Dias Marques.
      </div>
      <div class="code">{{ getCurrentLine() }}</div>
    </div>
  </div>
  <div
    class="division"
    [style.background-color]="colorService.getCurrentColor()"
  ></div>
  <div class="about-me">
    <img
      [style.border-color]="colorService.getCurrentColor()"
      class="photo"
      src="assets/media/photo.jpg"
    />
    <div class="text-section">
      <div class="title" [style.color]="colorService.getCurrentColor()">
        About me
      </div>
      <p>
        I'm a Portuguese software developer. I'm passionate about learning new
        things and improving my skills.
      </p>
      <div class="title" [style.color]="colorService.getCurrentColor()">
        Current tech stack
      </div>
      <p>.Net & React</p>
      <div class="title" [style.color]="colorService.getCurrentColor()">
        Contact
      </div>
      <div class="contacts">
        <a
          mat-icon-button
          href="https://www.linkedin.com/in/pedrodm/"
          target="_blank"
          matTooltip="LinkedIn Profile"
        >
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div
    class="division"
    [style.background-color]="colorService.getCurrentColor()"
  ></div>
</div>
