:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
}

.status-container {
    background-color: #212121;
    width: 60%;
    box-sizing: border-box;
}

.status-content, .status {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.status-content {
    flex-direction: row;
    align-items: stretch;
}

.section-header {
    background-color: #EEE;
    color: #212121;
    padding: 10px;
    display: flex;
    align-items: center;
}

.status {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
}

.status p {
    margin: 0;
}

.projects-wrapper, .projects-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.projects-wrapper {
    margin-top: 50px;
}

.projects-wrapper .projects-content {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 10px;
    align-self: flex-start;
}

.header p {
    margin: 0;
}

.projects-accordion mat-expansion-panel {
    background-color: #212121;
    transition: background-color 0.4s ease;
}

.projects-accordion mat-expansion-panel:hover:not(.mat-expanded) {
    background-color: #424242;
    transition: background-color 0.4s ease;
}

.projects-accordion .project-title {
    align-items: center;
    flex: unset;
}

.projects-accordion .chip {
    padding: 2px 5px;
    color: #212121;
    border-radius: 16px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #EEE;
}

.projects-accordion .chip.backlog {
    background-color: #bf40e6;
}

.projects-accordion .chip.maintenance {
    background-color: #e6e040;
}

.projects-accordion .chip.archive {
    background-color: #919191;
}

.projects-accordion .project-title .name {
    margin-left: 10px;
}

.projects-accordion .body {
    display: flex;
    flex-direction: column;
}

.projects-accordion .body-text {
    margin: 0;
    white-space: pre-line;
}

.projects-accordion a.project-github {
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .home-wrapper, .status-container {
        width: 100%;
    }

    .projects-accordion mat-expansion-panel-header {
        padding-left: 8px;
        padding-right: 8px;
    }

    .projects-accordion mat-expansion-panel-header,
    .projects-accordion .body-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .projects-accordion mat-expansion-panel-header,
    .projects-accordion .body-text {
        font-size: 10px;
    }
}
