<div class="home-wrapper">
    <div class="status-container material-border-radius material-shadow">
        <div class="status-content">
            <span class="status-header material-border-radius">
                <span>Status</span>
            </span>
            <div class="status">
                <mat-progress-bar *ngIf="isFetchingStatus; else statusRdy" mode="indeterminate" color="warn"></mat-progress-bar>
                <ng-template #statusRdy>
                    <div class="icons-wrapper">
                        <mat-icon *ngFor="let icon of statusIcons">{{icon}}</mat-icon>
                    </div>
                    <p>{{status}}</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>